.container {
    -fx-cursor: hand;
    -fx-faint-focus-color: transparent;
}

.container:hover {
    -fx-background-color: rgba(40, 41, 45, 0.5);
}

.container.active {
    -fx-background-color: rgba(125, 125, 125, 0.1);
}

.button-reset {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-faint-focus-color: transparent;
}