.button-reset {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-border-width: 0;
    -fx-cursor: hand;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0 20px;
    -fx-pref-height: 38px;
    -fx-text-fill: #71717A;
}

.button-primary {
    -fx-background-color: #18181B;
    -fx-text-fill: #FFFFFF;
}

.button-primary:hover {
    -fx-background-color: #18181BE6;
}

.button-secondary {
    -fx-background-color: #F4F4F5;
    -fx-text-fill: #18181B;
}

.button-destructive {
    -fx-background-color: #EF4444;
    -fx-text-fill: #FAFAFA;
}

.button-destructive:hover {
    -fx-background-color: #EF4444E6;
}

.button-outline {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #E4E4E7;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-text-fill: #09090B;
}

.button-outline:hover {
    -fx-background-color: #F4F4F5;
}

.button-ghost {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #09090B;
}

.button-ghost:hover {
    -fx-background-color: #F4F4F5;
}

/* Buttons Custom */

.button-icon {
    -fx-padding: 0 10px;
}

.button-toggle-icon {
    -fx-padding: 0;
    -fx-pref-height: 16px;
}

/* Button TabPane */

.button-tab-pane {
    -fx-background-radius: 5;
    -fx-padding: 7px 0;
    -fx-pref-height: 32px;
}

.button-tab-pane.tab-active {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #09090B;
}